In [65]:
import pandas as pd
import re
import json

In [2]:
pilot = pd.read_csv('/home/julian/Cursos/Ironhack/Proyectos/Proyecto4/The-X-Files-Sentiment-Analysis/Data/pilot.csv')

In [3]:
episode_1 = pd.read_csv('/home/julian/Cursos/Ironhack/Proyectos/Proyecto4/The-X-Files-Sentiment-Analysis/Data/episode_1.csv')

In [4]:
episode_2 = pd.read_csv('/home/julian/Cursos/Ironhack/Proyectos/Proyecto4/The-X-Files-Sentiment-Analysis/Data/episode_2.csv')

## METER FORS ACA

In [5]:
p = pilot.to_dict()

In [6]:
e_1 = episode_1.to_dict()

In [7]:
e_2 = episode_2.to_dict()

In [8]:
p_ = p.values()

In [9]:
e_1_ = e_1.values()

In [10]:
e_2_ = e_2.values()

In [11]:
script_p = list(list(p_)[0].values())

In [12]:
script_1 = list(list(e_1_)[0].values())

In [13]:
script_2 = list(list(e_2_)[0].values())

In [15]:
characters = ['Scully', 'Mulder']
scripts = [script_p, script_1, script_2]
regs = ['\SCULLY\S.*', '\SULDER\S.*']

In [16]:
def phrases(character, script, reg):
    plist = []
    for s in script:
        match = re.findall(f'{reg}', s)
        if match:
            plist.append(s)
    p_dic = {f'{character}': [i[8:] for i in plist]}
    p_phrases = pd.DataFrame(p_dic)
    return p_phrases

In [17]:
mulder_p = phrases('Mulder', script_p, '\SULDER\S.*')

In [19]:
mulder_p.Mulder = mulder_p.Mulder.str.replace("'", ' ')

In [20]:
mulder_p.Mulder = mulder_p.Mulder.str.replace('"', ' ')

In [39]:
mulder_e_1 = phrases('Mulder', script_1, '\SULDER\S.*')

In [40]:
mulder_e_1.Mulder = mulder_e_1.Mulder.str.replace("'", ' ')

In [41]:
mulder_e_1.Mulder = mulder_e_1.Mulder.str.replace("'", ' ')

In [42]:
mulder_e_2 = phrases('Mulder', script_2, '\SULDER\S.*')

In [43]:
mulder_e_2.Mulder = mulder_e_2.Mulder.str.replace("'", ' ')

In [44]:
mulder_e_2.Mulder = mulder_e_2.Mulder.str.replace("'", ' ')

In [26]:
scully_p = phrases('Scully', script_p, '\SCULLY\S.*')

In [28]:
scully_p.Scully = scully_p.Scully.str.replace("'", ' ')

In [29]:
scully_p.Scully = scully_p.Scully.str.replace('"', ' ')

In [47]:
scully_e_1 = phrases('Scully', script_1, '\SCULLY\S.*')

In [48]:
scully_e_1.Scully = scully_e_1.Scully.str.replace("'", ' ')

In [49]:
scully_e_1.Scully = scully_e_1.Scully.str.replace("'", ' ')

In [50]:
scully_e_2 = phrases('Scully', script_2, '\SCULLY\S.*')

In [51]:
scully_e_2.Scully = scully_e_2.Scully.str.replace("'", ' ')

In [52]:
scully_e_2.Scully = scully_e_2.Scully.str.replace("'", ' ')

In [60]:
scully_e_2.Scully = scully_e_2.Scully.str.replace("%", ' ')

In [61]:
scully_e_2

                                               Scully
0   Death by hypovolemia. 95  blood loss. That s o...
1   The man s daughter, 8 years old... was away fr...
2           Oh, there were two small puncture wounds.
3                                  How could that be?
4   But there was no sign of a struggle. How could...
..                                                ...
80                                SCULLY! I GOT THEM!
81                                            SCULLY!
82                                 We are the police.
83                                            Mulder!
84                Did you see the twins we were with?

[85 rows x 1 columns]

### REPETIR ESTO PARA SCULLY

In [30]:
import sqlalchemy as alch

password = 'Admin123.'
dbName="thexfiles"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [34]:
#insert = engine.execute("INSERT INTO Characters (`Character`) VALUES ('Mulder')")

In [62]:
for i, fila in scully_e_2.iterrows():
    engine.execute(
        f"""
        INSERT INTO Phrases (Phrase, Characters_idCharacters, Episodes_idEpisodes) VALUES ("{fila['Scully']}", 1, 3);
       """
        )

In [63]:
query = engine.execute(
        f"""
        SELECT * FROM Phrases
        WHERE (Characters_idCharacters = 1 AND Episodes_idEpisodes = 3);
        """
        )

In [ ]:
def quote(character, episodenumber):
    query = f"""
SELECT * FROM Phrases
WHERE (Characters_idCharacters = {int(character)} AND Episodes_idEpisodes = {episodenumber})
"""
    datos = pd.read_sql_query(query,engine)

    return datos.to_json(orient="records")