In [1]:
import pandas as pd
import re

In [76]:
pilot = pd.read_csv('/home/julian/Cursos/Ironhack/Proyectos/Proyecto4/The-X-Files-Sentiment-Analysis/Data/pilot.csv')

In [83]:
episode_1 = pd.read_csv('/home/julian/Cursos/Ironhack/Proyectos/Proyecto4/The-X-Files-Sentiment-Analysis/Data/episode_1.csv')

In [87]:
episode_2 = pd.read_csv('/home/julian/Cursos/Ironhack/Proyectos/Proyecto4/The-X-Files-Sentiment-Analysis/Data/episode_2.csv')

In [92]:
p = pilot.to_dict()

In [93]:
e_1 = episode_1.to_dict()

In [94]:
e_2 = episode_2.to_dict()

In [98]:
p_ = p.values()

In [99]:
e_1_ = e_1.values()

In [100]:
e_2_ = e_2.values()

In [101]:
script_p = list(list(p_)[0].values())

In [102]:
script_1 = list(list(e_1_)[0].values())

In [103]:
script_2 = list(list(e_2_)[0].values())

In [16]:
"""
scenes = []
for i in script:
    match = re.findall("\SCENE\s\d.*", i)
    if match:
        scenes.append(i)
        
indexes = [script.index(i) for i in scenes]
script_ = script[indexes[17]:indexes[18]]

"""

In [112]:
characters = ['Scully', 'Mulder']
scripts = [script_p, script_1, script_2]
regs = ['\SCULLY\S.*', '\SULDER\S.*']

In [109]:
def phrases(character, script, reg):
    plist = []
    for s in script:
        match = re.findall(f'{reg}', s)
        if match:
            plist.append(s)
    p_dic = {f'{character}': [i[8:] for i in plist]}
    p_phrases = pd.DataFrame(p_dic)
    return p_phrases

In [113]:
phrases('Mulder', script_p, '\SULDER\S.*')

                                                Mulder
0    Sorry, nobody down here but the FBI's most unw...
1    Oh, isn't it nice to be suddenly so highly reg...
2    Oh, really? I was under the impression... that...
3    You're a medical doctor, you teach at the acad...
4                                   I did. I liked it.
..                                                 ...
107    You know it's Billy. You've known it all along.
108              How long are you gonna let it happen?
109                                            Scully.
110                                 It was incredible.
111  Scully? It's me, I haven't been able to sleep....

[112 rows x 1 columns]

In [114]:
import sqlalchemy as alch

password = 'Admin123.'
dbName="thexfiles"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [115]:
 engine.execute(f"""
    SELECT * FROM Characters;
    """)